body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 7em;
  color: yellowgreen;
  margin: 0.55em 0;
  text-align: center;
}

h3 {
  font-size: 9em;
  color: red;
  margin: 0.75em 0;
  text-align: center;
}

p {
  font-size: 7em;
  color: blue;
  text-align: center;
}
